/* Box Model thing */
* {
	box-sizing: border-box;
}

/* Clear fix thing */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
   clear: both;
}

/* start main CSS */
:root {
      --primary-color: #80B613;
      /* --secondary-color: #D864A9; */
      /* --tertiary-color: #3C435C; */
      --tertiary-color: #2D8A7C;
      --quaternary-color: #191917;
    }



.main {
      font-size: 16px;
      color: #fff;
      font-family: "Space Grotesk", sans-serif;
      background-color: var(--quaternary-color);
      width: 80%;
      margin: 0 auto;
      padding: 0 2rem;
}

a {
      color: var(--primary-color);
      text-decoration: none;
}

a:visited, a:active {
      color: var(--primary-color);
      text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
      font-family: "Space Mono", monospace;
      font-weight: 800;
      font-style: normal;
}

h1 {
      color: var(--primary-color);

} 

h2, h3, h4, h5, h6 {
      color: var(--primary-color);
}

h1 {
      font-size: 2.5rem;
}

h2 {
      font-size: 2rem;
}

hr {
      border: 1px solid var(--tertiary-color);
      width: 100%;
}

/* home page */

.hero {
      /* margin: -4.75rem auto 0 auto; */
      text-align: center;
      justify-content: center;
      /* opacity: 0.2; */
}

@media screen and (min-width: 1025px) {
      .hero img {
            width: auto;
            height: 37.5rem;
        }
}

@media screen and (max-width: 760px) {
      .hero {
            margin: 0;
      }
      .hero img {
            width: auto;
            height: 10rem;
            margin-top: -3rem;
            margin-left: -15rem;
            position: absolute;
        }

        h1,  h2 {
            padding-left: 1rem;
        }

        .headings p { 
            width: 250%;
            margin-left: -6rem;
        }
        .main {
            width: 90%;
            padding: 0;
        }
}

@media screen and (min-width: 781px) and (max-width: 1024px){
      .hero {
            margin: -3.6rem auto 0 auto;
      }
      .hero img {
            width: auto;
            height: 27.5rem;
        }
}

.headings {
      text-align: left;
      width: 100%;
      margin: auto 0;
}

.headings:before {
      content: url(/Images/Pexels/pexels-pawel-l-435199-1320737.jpg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0.2;
      z-index: -1;
}

.headings {
      padding: 2rem 0;
      margin-bottom: 2rem;
}

.headings h1, h2 {
      line-height: 1;
      margin: 0;
}

.headings h1, h2 {
      font-size: 3rem;
      text-align: center;
      width: 80%;
      margin: 0 auto 2rem auto;
}

.headings h2 {
      color: var(--secondary-color);
      font-size: 1.5rem;
}

#header {
      z-index: 99;
      position: relative;
}
#header object {
      width: 100%;
}
.buttons {
      width: 100%;
      margin: 0 auto;
      text-align: center;
}

.buttons a {
      padding: .5rem 1rem;;
      background-color: var(--primary-color);
      border-radius: 10px;
      color: black;
      font-weight: bold;
}


.threethings {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      justify-content: center;
}

.thing {
      vertical-align: middle;
      justify-content: center;
      padding: 1rem;
      margin: 1rem;
      border: 1px solid black;
      border-radius: 10px;
      width: 30%;
      background-color: rgba(45, 138, 124, .1);
}

.thing:hover {
      position: relative;
      bottom: .5rem;
      box-shadow: 3px 3px var(--tertiary-color);
}

@media screen and (max-width: 1200px) {
      .threethings {
            flex-direction: column;
      }
      .thing {
            width: 80%;
      }
}

.services {
      width: 50%;
}

.serv {
      display: flex;
      flex-flow: row wrap;
}

.num {
      display: flex;
      padding: 5px 13px;
      background-color: var(--primary-color);
      width: 2.5rem;
      color: black;
      text-align: center;
      border-radius: 7px;
      
}

.stitle {
      width: 20rem;
      text-align: right;
      padding-right: 1rem;
      border-bottom: var(--primary-color) solid 2px;
}
